.ant-select-selector {
  height: 45px !important;
  border-radius: 10px !important;
  border: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-select-selection-search {
  display: flex;
  align-items: center;
}
.ant-select-selection-item {
  display: flex !important;
  justify-content: center !important;
}

.ant-card.ant-card-bordered {
  border-radius: 8px !important;
  border: unset;
}

label.ant-radio-button-wrapper {
  border: unset !important;
}

.ant-radio-button-wrapper:first-child {
  border-left: unset !important;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.ant-radio-button.ant-radio-button-checked:focus-within {
  display: none;
}

label.ant-radio-button-wrapper {
  font-size: 1.25rem !important;
  color: #dee2ec;
}

.ant-modal-content {
  border-radius: 8px !important;
}

.ant-modal-header {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

.ant-modal-header {
  border: unset !important;
}

.ant-modal-footer {
  border: unset !important;
}

.ant-modal-body {
  padding: 80px 100px 120px 100px !important;
}

// .ant-spin-nested-loading > div > .ant-spin {
//   max-height: 100vh !important;
// }

.ant-spin-lg .ant-spin-dot i {
  width: 35px !important;
  height: 35px !important;
}

.ant-spin-lg .ant-spin-dot {
  font-size: 75px !important;
}
