.BG-forms {
  background: #f6f6fa;
}

.nav {
  background: white;
}

.decoration .decoration-inside {
  height: 100px; /* ความสูงของเส้น */
  width: 1px; /* ความหนาของเส้น */
  background-color: black; /* สีของเส้น */
  display: block;
}

.f-13 {
  font-size: 1.3rem !important;
}

.f-1 {
  font-size: 0.3rem;
}

.f-2 {
  font-size: 1rem;
}

.p-layout {
  padding: 0px 40px 1rem 40px;
}
.hr-horizon {
  border-left: 1px solid #707070 !important;
  opacity: 10%;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: $primary !important;
}
.h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary !important;
}

.f-left {
  float: left !important;
}
