.BG-forms{
    background: #f6f6fa;
}
.alert-custom{
    color: white !important;
    font-size: 18px !important;
}
.alert-custom-title{
    color: white !important;
    font-size: 20px !important;
}
.font-header{
    font-size: 35px;
    font-weight: 900;
    color: #22149e;
}   
.font-overflow {
    white-space: nowrap; 
    width: 670px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .button-lange{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    // padding-top: 10px;
    margin-right: 10px;
}
.button-lange-radius{
    border-radius: 4px !important;
}
.img-header{
    width: 200px;
}
// .ant-btn {
//     background-color: #27AE60 !important;
//     color: white !important;
//     border-color: #d9d9d9;
// }

.button-submit.ant-btn{
    background-color: #2a566d ;
    color: white !important;
    width: 100%;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
}

.button-submit.ant-btn:hover{
    background-color: #02578f;
    color: white;
}

@media only screen and (max-width: 812px) {
    .stick {
        display: none; 
    }
    .layout-row{
        padding: 30px !important;
    }
    .button-lange{
        position: unset !important;
        position: unset !important;
        top: 10px;
        // display: none !important;
        padding-top: 10px;
        // margin-right: 10px;
    }
    .button-submit.ant-btn{
        width: 100%;
        font-size: 15px;
        height: 40px;
    }
    .font-header{
        display: none !important;
    }  
    .img-header{
        width: 100px;
        margin-top: 10px;
    }
    .stick-second {
        display: none; 
    }
}
@media only screen and (max-width: 1024px) {
    .stick {
        display: none; 
    }
    .stick-second {
        display: none; 
    }
    .layout-row{
        padding: 60px;
    }
    .button-submit.ant-btn{
        width: 100%;
        font-size: 15px;
        height: 40px;
    }
    .font-header{
        display: none !important;
    }  
    .img-header{
        width: 100px;
        margin-top: 10px;
    }
}
.layout-row{
    padding: 60px;
}
.title-font{
    color: #22149e;
    font-weight: 700!important;
    font-size: 24px;
}
.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    // margin-top: 20px;
    margin-top: -1420px !important;  
}

.stick-second {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    // margin-top: 20px;
    margin-top: -1900px !important;  
}

.card-stick{
    width: 50%;
    margin: 50px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 0 1px 4px 0 rgba(45, 83, 193, 0.3);
    border-radius: 7px;
}
.field-condition{
    width:95%;
    margin-left: 20;
}

.radioStyle  {
    display: block;
    // height: 30px;
    line-height: 30px;
}

.radio-box-flex{
    display: table-caption;
}

.row-flex{
    flex-flow: wrap;
    width: 100%;
}

.ant-form-item-label > label {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    // width: 1000px;
}

.item-field{
    width: 50%;
}

label.ant-radio-wrapper.ant-radio-wrapper-checked {
    border: 2px solid #22149e;
}

.ant-radio-checked .ant-radio-inner {
    border: 3px solid #27AE60;
    border-color: #27AE60 !important;
}

.card-box{
    -webkit-box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
}

.ant-radio-inner::after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: unset !important; 
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: ' ';
}

.ant-radio-wrapper {
    position: relative;
    border: 2px solid transparent;
    padding: 10px 60px 5px 25px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    width: 100%;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 32px;
    padding: 0 11px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ant-input {
    -ms-flex: auto;
    flex: auto;
    max-width: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    box-shadow: 0 1px 4px 0 rgba(45,83,193,.3);
    width: 100%;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item {
    -webkit-transform: .3s;
    transform: .3s;
    cursor: pointer;
}