.mt-10{
    margin-top: 10px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mt-60{
    margin-top: 60px !important;
  }
.mb-60{
    margin-bottom: 60px !important;
  }
.p-10{
    padding:10px !important;
}
.p-15{
    padding:15px !important;
}
.p-60{
    padding:60px !important;
}

.ml-50{
    margin-left: 50px !important;
}
.mr-10{
    margin-right: 10px !important;
}

.pl-60{
    padding-left: 60px !important;
}
