body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.col-job {
  width: 55%;
}
.col-job2 {
  width: 45%;
}
.text-toppic {
  font-size: 22px;
  font-family: "Sukhumvit Set";
  margin-bottom: 10px;
  color: #292766;

}
.text-title {
  font-size: 16px;
  font-family: "Sukhumvit Set";
  color: rgba(67, 66, 93, 1);
}
.fo {
  font-size: 14px;
  color: #292766;
  padding-left: 15px;
  font-family: "Sukhumvit Set";
}
.fo2 {
  font-size: 16px;
  color: #292766;
  padding: 16px;
  font-family: "Sukhumvit Set";
}
.fo3 {
  font-size: 16px;
  color: #292766;
  padding: 15px;
  font-family: "Sukhumvit Set";
  
}
.cad {
  font-size: 19px;
  color: #292766;
  width: 120px;
  height: 46px;
  left: 20px;
  border-radius: 5px;
  background-color: #f6f8fe;
  
}
.ca-select {
  width: 120px;
  height: 46px;
  left: 20px;
  border-radius: 7px;
  background-color: #f6f8fe;
  font-size: 19px;
  color: #292766;
  margin-left: 10px;
  margin-top: -4px;
}


.font {
  font-family: "Sukhumvit Set";
}

.text-percent {
  position: relative;
  float: right;
  font-size: 19px;
  font-family: "Sukhumvit Set";
  color: #292766;
}
.card-impact{
 
position: relative;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-toppic2 {
  font-size: 22px;
  font-family: "Sukhumvit Set";
  
  color: rgba(61, 61, 61, 1);
}
.center{
display: flex;
flex-direction: column;
align-items: center;
}

.pad{
  margin-left: -25px;
  padding: 55px 2px 55px 2px;
}
