body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.col-job {
  width: 55%;
}
.col-job2 {
  width: 45%;
}
.text-toppic {
  font-size: 22px;
  font-family: "Sukhumvit Set";
  margin-bottom: 15px;
  color: #292766;

}
.text-title {
  font-size: 16px;
  font-family: "Sukhumvit Set";
  color: #292766;
}
.fo {
  font-size: 20px;
  color: #292766;
  padding-left: 20px;
}
.cad {
  font-size: 19px;
  color: #292766;
  /* text-align: center; */
}

.font {
  font-family: "Sukhumvit Set";
}

.text-percent {
  position: relative;
  float: right;
  font-size: 19px;
  font-family: "Sukhumvit Set";
  color: #292766;
}
.card-impact{
 
position: relative;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
